html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFECD1;
    color: #062837;
    margin: 0;
    height: 100%;
    font-family: sans-serif
}


/* Body Elements */

main {
    margin-left: 160px;
    background-color: #FFECD1;
    padding: 20px;
    position: relative;
}

main ul {
    list-style-image: url(shell.png);
}

header {
    background-color: #15616D;
    color: #FFECD1;
    padding: .5em;
    /*
     background-position: right;
     background-repeat: no-repeat;
     background-image: url(images/resort1.jpeg);
     width: 115%;
     */
}

main h1 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}

cite {
    margin-left: 40px;
}

footer {
    text-align: center;
    margin-left: 105px;
    background-color: #FFECD1;
    padding: 10px;
    position: relative;
}

p {
    text-indent: 2em;
    font-size: 1.1em;
}

li {
    padding-bottom: 5px;
    font-size: 1.1em;
}


/* Nav */

nav {
    color: #062837;
    float: left;
}

nav ul {
    list-style-type: none;
    padding: 0px 10px 20px 10px
}

nav li {
    padding-top: 20px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
}

nav a:hover {
    font-size: 1.4em;
}


/* Anchors */

a {
    font-weight: 550;
}

a:link {
    color: #062837;
}

a:visited {
    color: #001524;
}

a:hover {
    color: #15616D;
}


/* Headers */

h1 {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 8px;
    font-size: 4em;
    letter-spacing: 5px
}

h2 {
    margin-top: 0;
}


/* Classes */

.name {
    color: #15616D;
}


/* IDs */

#tableofcontents {
    border: 5px inset;
    float: right;
    padding: 10px;
    font-size: 1.025em;
    margin-left: 10px
}

#tableofcontents li {
    margin-bottom: 5px;
}

#wrapper {
    background-image: linear-gradient(to bottom, #C5CAB8, #15616D);
}

#tagline {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 100px;
    font-size: 1.5em;
    color: #E2DBC5;
    letter-spacing: 2px;
}

#headerimage {
    background-image: url(images/header.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: 118px;
    width: 50%;
    position: absolute;
    float: right;
    top: 0px;
    right: 0px;
    box-shadow: 150px 0px 100px #15616D inset;
}

#topbutton {
    float: clear;
    position: fixed;
    bottom: 0;
    left: 5%;
    width: 80px;
    border: 3px solid #001524;
    background: #15616D;
}

#timelineDIV {
    height: 440px;
    width: 100%;
    overflow-x: auto;
}
/*
#header {
    background-image: url(images/header.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: 147px;
    width: 1450px;
    float: right;
    position: relative;
    bottom: 125px;
    left: 600px;
    box-shadow: 100px 0px 500px #15616D inset;
}
*/